@model AdminUI.Models.Timesheet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Timesheet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientPrime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientPrime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CMOrg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CMOrg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SCPAName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SCPAName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModCD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModCD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Units)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Units)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceGoal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceGoal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgressNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgressNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientSigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientSigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderSigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderSigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Submitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Submitted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TimesheetID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
