@model IEnumerable<AdminUI.Models.Timesheet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientPrime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CMOrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCPAName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModCD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Units)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceGoal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgressNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientSignature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientSigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderSignature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderSigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submitted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientPrime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CMOrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCPAName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModCD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgressNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientSignature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientSigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderSignature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderSigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submitted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimesheetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimesheetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimesheetID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
