@model AdminUI.Models.Timesheet

@{
    ViewData["Title"] = "Timesheet";
    var sheet = ViewData["Sheet"] as Timesheet;
}

<div class="flex-container column">
    <h1>eXPRS Plan of Care - Services Delivered Report Form</h1>
    <div class="row">
        <div class="column">
            <label for="client-name">Timesheet ID:</label> @sheet.TimesheetID
        </div>
        <div class="column">
            <label asp-for="Status">Status of Timesheet:</label> @sheet.Status
        </div>
    </div>
    <div class="row">
        <div class="column">
            <label for="client-name">Customer Name:</label> @sheet.ClientName
        </div>
        <div class="column">
            <label for="prime">Prime:</label> @sheet.ClientPrime
        </div>
    </div>
    <div class="row">
        <div class="column">
            <label for="provider-name">Provider Name:</label> @sheet.ProviderName
        </div>
        <div class="column">
            <label for="provider-num">Provider Num:</label> @sheet.ProviderID
        </div>
    </div>
    <div class="row">
        <div class="column">
            <label for="cm-organization">CM Organization:</label> @sheet.CMOrg
        </div>
        <div class="column">
            <label for="sc-pa-name">SC/PA Name:</label> @sheet.SCPAName
        </div>
    </div>
    <div class="row">
        <div class="column">
            <label for="service-authorized">Service Authorized:</label>  @sheet.Service
        </div>
    </div>
    <div class="row">
        <div class="column">
            <label for="form-type">Form Type:</label> @sheet.Type
        </div>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <caption>Service Log for Timesheet ID @sheet.TimesheetID</caption>
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Start/Time IN</th>
                <th scope="col">End/Time OUT</th>
                <th scope="col">Total Hours for Entry</th>
                <th scope="col">Group? (yes/no)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var t in sheet.Shifts)
            {
                <tr itemscope="row">
                    <td>@t.Date.ToString("d")</td>
                    <td>@t.In.ToString("h:mm tt")</td>
                    <td>@t.Out.ToString("h:mm tt")</td>
                    <td>@t.Hours</td>
                    @if (t.Group)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>

                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="column">
            <label>Timesheet Total Hours:</label>  @sheet.Hours
        </div>
    </div>

    <div class="row m-1 border">
        <div class="column">
            <label>SERVICE GOAL:</label>  @sheet.ServiceGoal
        </div>
    </div>
    <div class="row m-1 border">
        <div class="column">
            <label>PROGRESS NOTES:</label>  @sheet.ProgressNotes
        </div>
    </div>

    <div class="row">
        @if (@sheet.ClientSignature)
        {
            <div class="alert alert-success">
                <strong>Customer Employer or Employer Rep signed on @sheet.ClientSigned.Value.ToString("MM-dd-yyyy")</strong>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Customer Employer or Employer Rep signature missing!</strong>
            </div>
        }
    </div>
    <div class="row">
        @if (@sheet.ProviderSignature)
        {
            <div class="alert alert-success">
                <strong>Provider/Employee Signed on @sheet.ProviderSigned.Value.ToString("MM-dd-yyyy")</strong>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Provider/Employee Missing!</strong>
            </div>
        }
    </div>
    <div class="row">
        <div class="column">
            <label>Timesheet Submitted on:</label> @sheet.Submitted.ToString("MM-dd-yyyy")
        </div>
    </div>
    <img src="~/images/timesheet-front.png" alt="Sample Front" />
    <img src="~/images/timesheet-back.png" alt="Sample Front" />
    <form asp-action="Process">
        <div class="row">
            <input type="hidden" name="id" value="@sheet.TimesheetID"/>
            <input onclick="handleRejected" class="btn btn-danger" name="Status" value="Rejected" type="submit">
            <input type="text" name="RejectionReason"/>
            <input onclick="handleAccepted" class="btn btn-primary" name="Status" value="Accepted" type="submit">
        </div>
    </form>
</div>
